//colors
  $Eclipse: #404040;
  $Black: #0a0000;
  $Gray: #808080;
  $White_Smoke: #F8F8F8;
  $guyabano:  rgb(248, 248, 248);
  $orange  : #ffa500;
  $light_gray: #D3D3D3;

  //Font sizes
 $twentyFivePX: 25px;
 $twentyPX: 20px;
 $thirty0: 30px;
 $thirty3: 33px;
 $thirty6: 36px;
 $fortyPX: 40px;  
 $fortySixPX: 46px;  
 $nineteenPX: 19px;  
 $eighteenPX: 18px; 
 $seventeenPX: 17px; 
 $sixteenPX: 16x;
 $thirteenPX: 13px; 
 
 