@import '../variables' ;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 20px;
    width: 100%;
    background-color:$guyabano;
}

.mainContainer {
    background-color:$guyabano;

}

.widgetContainer {
    margin: 20px 0px 33px 0px;
}

 .headingTitle{
    font-size: 54px;
    font-weight: 750;
    color: $Eclipse;
    padding: 0px 0px 20px 0px;
 }

 .line1 {
    color: #B2B2B2;
    font-size:  $eighteenPX;
    font-weight: 400;
    padding: 0px 0px 70px 0px;
 }

 .thanks{
    font-size: 44px;
    font-weight: 300;
    padding-bottom: 30px;
    color: $Eclipse;

 }
 .gctrees{
     font-weight: 900;
 }

 .gct{
    font-size:  $twentyPX;
    color: $Black;
    line-height: 1.3em;
 }

 .lastLine{
    color: $Gray;
    font-size: 13.1px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
 }