@import '../variables' ;


.title{
    font-size:  $fortySixPX;
    font-weight: 600;
    color: $Eclipse;
    padding: 10px;
    margin-bottom: 20px;
}
.container {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.images {
    border: 3px solid rgba(220, 220, 220, 0.7);
    border-radius: 7px;
    padding: 20px;
}

.text {
    color: #B3B3B3;
    font-size:  $seventeenPX;
    font-weight: 400;
    line-height: 1.4em;
}

.or {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    .text {
        color: $light_gray;
    font-size: $thirty0;
    font-weight: 400;
    }
    padding:0px 20px ;
}

.textRow{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    .text {
        margin-bottom: 0px;
        display: flex;
        text-align: center;
        }
    }

    .boxes {
        border: 3px solid rgba(220, 220, 220, 0.7);
        border-radius: 5px;
        width: 900px;
        @media (max-width: 768px){
            width: 700px;
        }
    }
    .row1 {
        padding: 20px 0px 30px 0px;
        background-color: $White_Smoke;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .backers {
        font-size: 80%;
        font-weight: 400;
        color: white;
        background-color: #A8A8A8;
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 1px;
    }
    .offerTitle{
        font-weight: 700;
        line-height: 1.3em;
        text-align: center;
        font-size:  $sixteenPX;
        margin-bottom: 0px;
    }
    .bigNumber {
        font-size: 80px;
        font-weight: 400;
    }
    .row2{
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .italicTitle {
        color: $light_gray;
        font-size:  $thirteenPX;
        font-style: italic;
    }
