@import '../variables' ;

    .container {
        padding: 0px;
    }
    .QuantityBoxes {
        border: 3px solid rgba(220, 220, 220, 0.7);
        border-radius: 5px;
        width: 50%;
        text-align: center;
        color: $Eclipse;
        background-color: $White_Smoke;

    }

    .BoxesRow
     {
        display: flex;
    justify-content: space-between;

    width: 100%;
    }

    .kitText {
        font-size:  $nineteenPX;
        font-weight: 400;
        line-height: 1.3em;
    }
    .bigNumber {
        font-size: 80px;
        font-weight: 600;
    }

    .title{
        font-size:  $fortySixPX;
        font-weight: 600;
        color: $Eclipse;
        padding: 10px;
        margin-bottom: 20px;
    }

    .highlightedText {
        color: $orange;
    font-weight: 700;
    }